body {
    font: 17px / 1 Helvetica;
    background-color: #cbcce7;
}

::selection {
    background: #ffffff;
}

::-moz-selection {
    background: #ffffff;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    background-color: #545570;
    color: white;
    padding: 10px;
}

#banner h1 {
    display: inline;
    margin: 0 5%;
}

#contents {
    max-width: 50em;
    margin-top: 75px;
    margin-left: 100px;
    margin-right: auto;
}

#banner a {
    color: white;
    text-decoration: none;
    margin-right: 2%
}

textarea, input {
    background-color: #cbcce7;
    font-size: 16px;
    border-color: #545570;
}


.pastetext {
    font-family: Courier
}

input[type=submit] {
    background-color: #545570;
    color: white;
}

input[type=text] {
    border-style: none;
    border-bottom: solid thin;
}

textarea {
    border-style: solid;
    padding: 1%;
}

.bold {
    font-weight: bold;
}
