{% extends "wrapper.html" %}

{% block style %}
{{ super() }}
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='edit_style.css') }}"
      />
{% endblock %}

{% block contents %}
<form method="post" action="" id="pasteform">
  <label>Title <input type="text"
                      name="title"
                      value="{{ title if title else '' }}"
                      maxlength="100"
                      autofocus /></label>

  <label>Author <input type="text"
                       name="author"
                      maxlength="100"
                       value="{{ author if author else '' }}" />
  </label>

  <textarea name="body" id="textbody" class="pastetext">{{ body }}</textarea>
  <input type="submit" value="Create Glue" id="submitform" />
</form>
{% endblock %}
