{% extends "wrapper.html" %}

{% block style %}
{{ super() }}
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='edit_style.css') }}"
      />
{% endblock %}

{% block contents %}
<form method="post" action="" id="pasteform">
  <table>
    <tr>
      <td><label for="title">Title</label></td>
      <td><input type="text"
             id="title"
             name="title"
             value="{{ title if title else '' }}"
             maxlength="100"
             autofocus />
        </td>
    </tr>

    <tr>
      <td><label for="author">Author</label></td>
      <td><input type="text"
             name="author"
             id="author"
             maxlength="100"
             value="{{ author if author else '' }}" />
      </td>
    </tr>
  </table>

  <textarea name="body" id="textbody" class="pastetext">{{ body }}</textarea>
  <input type="submit" value="Create Glue" id="submitform" />
</form>
{% endblock %}
