{% extends "wrapper.html" %}
{% from "search_macro.html" import search_result %}

{% macro render_family(f) %}
<ul>
  {{ search_result(f.paste.id, f.paste.inserted_at,
                   title=f.paste.title, author=f.paste.author) }}
{% if f.children %}
{% for child in f.children %}

{{ render_family(child) }}

{% endfor %}
{% endif %}
</ul>
{% endmacro %}

{% block style %}
{{ super () }}
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='family_style.css') }}"
      />
{% endblock %}

{% block contents %}
<h2>Family for <a href="/pastes/{{ id }}">{{ title }}</a></h2>
{{ render_family(family) }}
{% endblock %}
