{% extends "wrapper.html" %}

{% block title %}{{ super() }} - Search{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='search_style.css') }}"
      />
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}

{% block contents %}
<form id="searchform">
  <table>
    <tr>
      <td><label for="title">Title</label></td>
      <td><input type="text" id="title" name="title" autofocus /></td>
    </tr>

    <tr>
      <td><label for="author">Author</label></td>
      <td><input type="text" id="author" name="author" /></td>
    </tr>
  </table>

  <input type="submit" id="searchbutton" value="Search" />
  (Leave fields blank to see all)
</form>

<ol id="results"></ol>
{% endblock %}
