{% extends "wrapper.html" %}

{% block style %}
{{ super() }}
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='submit_style.css') }}"
      />
{% endblock %}


{% block contents %}
<div id="spiel">
  A pastebin with features like:
  <ul>
    <li>editing previous pastes</li>
    <li>viewing trees of paste edits</li>
    <li>searching pastes by title or author</li>
  </ul>
  <strong>Note:</strong> All pastes are public and searchable.
</div>

<form method="post" action="" id="pasteform">
  <label>Title <input type="text"
                      name="title"
                      value="{{ title if title else '' }}"
                      autofocus /></label>

  <label>Author <input type="text"
                       name="author"
                       value="{{ author if author else '' }}" />
  </label>

  <textarea name="body" id="textbody">{{ body if body else '' }}</textarea>
  <input type="submit" value="Create Glue" id="submitform" />
</form>

{% endblock %}
